@charset "UTF-8";
.portfolio__list, .footer__list, .clients__list, .social__list, .team__list, .work__list, .advantage__list, .portfolio__list-btn, .header__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.portfolio__link, .footer__contact, .logo, .header__contact-link, .header__nav-link {
  text-decoration: none;
}

.portfolio__button, .footer__btn, .backdrop__btn, .hero__button {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

.footer__btn, .backdrop__btn, .hero__button {
  min-width: 136px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.header__contact-link, .header__nav-link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.img {
  display: block;
  height: 100%;
}

/* скрываем заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main-nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header--border {
  border-bottom: 1px solid #EEEEEE;
}

.logo {
  margin-right: 93px;
  color: #212121;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--accent {
  color: #2196F3;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  color: #FFFFFF;
}

.header__nav-link:focus, .header__nav-link:hover {
  color: #2196F3;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196F3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover::after {
  transform: scaleX(1);
}

.header__nav-link--current {
  position: relative;
  color: #2196F3;
}
.header__nav-link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196F3;
}

/*связаться*/
.header__contact-link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: #2196F3;
}

.header__icon--prepend {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 694px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__title--move {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  padding: 10px 32px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  text-decoration: underline;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
}

.backdrop__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
}
.backdrop__close-btn:hover, .backdrop__close-btn:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.backdrop__close-btn--icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.backdrop__btn {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__btn:hover, .backdrop__btn:focus {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
}

.backdrop__btn--center {
  margin-left: auto;
  margin-right: auto;
}

.footer__btn {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
}

.footer__btn--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio__list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  gap: 8px;
}

.portfolio__button {
  padding: 6px 22px;
  border: 0;
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.backdrop.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-height: 581px;
  width: 528px;
  background-color: #FFFFFF;
}

.backdrop__title {
  color: #212121;
  height: 23px;
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  Font-size: 20px;
  line-height: 1.15;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__label {
  position: relative;
}
.feedback-form__label:not(:last-child) {
  margin-bottom: 10px;
}
.feedback-form__label:last-child {
  margin-bottom: 20px;
}

.feedback-form__input {
  margin-top: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input:focus-within {
  border: 1px solid #2196F3;
  outline: none;
}

.feedback-form__input--icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  width: 12px;
  height: 12px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form__input:focus-within + .feedback-form__input--icon {
  color: #2196F3;
}

.feedback-form__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  background-image: url(../images/checkbox/frame.svg);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/checkbox/icon-check.svg);
}

.checkbox__txt {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.7142857143;
}

.checkbox__link {
  color: #2196F3;
}

.advantage__list {
  display: flex;
  gap: 30px;
}

.advantage__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.advantage__pic {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.advantage__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: start;
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.work__section {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work__thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.work__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team__section {
  background-color: #F5F4FA;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__thumb {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.social__icon {
  width: 20px;
  height: 20px;
  padding: 0;
  fill: currentColor;
}

.footer__link {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients__pic {
  width: 106px;
  height: 60px;
  padding: 0;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__item {
  margin-top: 9px;
}

.footer__address-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}

.footer__contact {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer__content {
  margin-left: 70px;
  color: #FFFFFF;
}

.footer__title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}

.footer__list {
  margin-top: 20px;
}

.footer__subscript {
  margin-left: 93px;
}

.footer__title--variation {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer__subscript-form {
  display: flex;
  align-items: center;
}

.footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer__input:focus-within {
  color: var(--white-color);
  outline: none;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  width: 370;
  gap: 30px;
}

.portfolio__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.88;
  color: #757575;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__text-hidden {
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__text-hidden, .portfolio__link:focus .portfolio__text-hidden {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */