// color
$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196F3;
$white-color: #FFFFFF;
$secondary-text-color:rgba(255, 255, 255, 0.6);
$link-logo-color: #AFB1B8;
// bg-color
$basic-background-color: #2F303A;
$secondary-background-color: #F5F4FA;
// border
$border-color: #EEEEEE;
$border-modal-input: rgba(33, 33, 33, 0.2);
// cubic
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
//gap
$indent: 30px;