/* голубой цвет #2196F3; */
/* черный цвет #212121*/
/* серый цвет #757575*/
/* белый цвет #FFFFFF*/

:root{
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --basic-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --secondary-text-color:rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --border-modal-input: rgba(33, 33, 33, 0.2);
    --link-logo-color: #AFB1B8;
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body{
    color:var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* скрываем заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 /*Убирает подчеркивание с ссылок*/
.link{
    text-decoration: none;

}
/*Убираем точку в списке*/
.list{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Шапка сайта*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-header{
    border-bottom: 1px solid var(--border-color);
} 
.main-nav{
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    color:var(--title-text-color);
    font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
}
.logo .accent{
    color:var(--accent-color);
}

/* навигация на другие страницы*/
.site-nav{
    display: flex;
}

.contact-nav{
    display: flex;
    align-items: center;
}

.site-nav .nav-link,
.contact-nav .contact-link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
    transition: color 250ms var(--transition-cubic);
}
.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    transform: scaleX(0);

    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: transform 250ms var(--transition-cubic);

}

.site-nav .nav-link:focus,
.nav-link:hover {
    color:var(--accent-color);
}
.site-nav .nav-link:hover::after{
    transform: scaleX(1);
}

.site-nav .nav-link.current{
    position: relative;
    color: var(--accent-color);
}

.site-nav .nav-link.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 50%);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
}

/*связаться*/
.contact-nav .contact-link{
    color:var(--primary-text-color);
    transition: color 250ms var(--transition-cubic);
}

.contact-nav .contact-link:hover,
.contact-link:focus{
    color:var(--accent-color);
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-pic{
    margin-right: 10px;
    fill: currentColor;
}

/* main */
/*Hero*/
.hero{
     max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color:var(--basic-background-color);
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    width: 694px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border: 0;
    min-width: 136px;
    cursor: pointer;
    background-color: var(--accent-color);
    color:var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: text-decoration 250ms var(--transition-cubic);
}

.hero-button:hover, .hero-button:focus{
    text-decoration: underline;
}

/* Всплывающее окно */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.backdrop .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    min-height: 581px;
    width: 528px;
    background-color: var(--white-color);
}

.modal-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: pointer;
}

.modal-icon{
    width: 11px;
    height: 11px;
    fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.modal-title{
    color: var(--title-text-color);
    height: 23px;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    Font-size: 20px;
    line-height: calc(23 / 20);
}

.modal-form{
    display: flex;
    flex-wrap: wrap;
}


.modal-input{
    margin-top: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid var(--border-modal-input);
    border-radius: 4px;

    transition: border 250ms var(--transition-cubic);
}
.modal-label {
    position: relative;
}


.modal-input:focus-within + .input-icon{
    color: var(--accent-color);
}

.modal-input:focus-within{
    border: 1px solid var(--accent-color);
    outline: none;
}

.input-icon{
    position: absolute;
    bottom: 14px;
    left: 15px;
    width: 12px;
    height: 12px;
    fill: currentColor;

    transition: color 250ms var(--transition-cubic);
}


.modal-label:not(:last-child){
    margin-bottom: 10px;
}
.modal-label:last-child{
    margin-bottom: 20px;
}

.modal-feedback{
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

.modal-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 12px;
}


.checkbox:checked + .checkbox-icon{
    background-image: url(../images/checkbox/icon-check.svg);
}


.checkbox-icon{
    width: 16px;
    height: 15px; 
    background-image: url(../images/checkbox/frame.svg);

    transition: background-image 250ms var(--transition-cubic);
}

.checkbox-txt{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
}

.checkbox-link{
    color: var(--accent-color);
}

.submit-btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 56px;
    padding-right: 55px;

}
/* Цвет заголовков*/
.section-title{
    margin-top: 0;
    margin-bottom: 50px;
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*приемущества*/
.advantage{
    display: flex;
}
.advantage .advantage-list:not(:last-child){
    margin-right: 30px;
}

.advantage-list .thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    
}

.advantage-thumb{
    width: 70px;
    height: 70px;
    fill: currentColor;
}

.advantage-list .section-title{
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: start;
}
.advantage-list .text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}
/* Чем мы занимаемся */
.work-section{
    padding-bottom: 94px;
}
.work-list{
    display: flex;
    justify-content: center;
}
.work-list .item:not(:last-child){
    margin-right: 30px;
}

.work-thumb{
    position: relative;
    width: 370px;
    height: 294px;
}

.work-title{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}

/*Team*/
.team-section{
    background-color: var(--secondary-background-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team{
    display: flex;
    justify-content: center;
}
.team .team-list:not(:last-child){
    margin-right: 30px;
}

.team .team-list{
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item{
    padding-top: 30px;
    padding-bottom: 16px;
}

.team-list .section-title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-list .text{
    margin-top: 0;
    margin-bottom: 16px;
}

/* Список соц. сетей */
.social-list{
    display: flex;
    justify-content: center;
}
.social-list .social-item:not(:last-child){
    margin-right: 10px;
}

.social-link, .footer-link{
    display: flex;
    padding: 0;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--link-logo-color);

    transition: color 250ms var(--transition-cubic), 
    background-color 250ms var(--transition-cubic);
    
}

.social-link .link, .footer-link .link{
    width: 20px;
    height: 20px;
    padding: 0;
    fill: currentColor;
}
.social-list .social-link:hover,
.social-list .social-link:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* Наши клиенты */

.clients-list{
    display: flex;
}


.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link{
    display: flex;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #AFB1B8;
    color: var(--link-logo-color);

    transition: color 250ms var(--transition-cubic), 
    background-color 250ms var(--transition-cubic);
}

.clients-item .clients-pic{
    width: 106px;
    height: 60px; 
    padding: 0;
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/*footer*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--basic-background-color);
}
.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
    color:var(--white-color);
}
.footer-logo .footer-accent{
    color:var(--accent-color)
}
.address-list .item{
    margin-top: 9px;
}

.address .text{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
}

.footer .address-contact.text{
    color:var(--secondary-text-color);
}

.footer-content{
    margin-left: 70px;
    color: var(--white-color);
}

.footer-title{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
}

.footer-list{
    display: flex;
    margin-top: 20px;
} 

.footer-link{
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-list .footer-item:not(:last-child){
    margin-right: 10px;
}


.footer-list .footer-link:hover,
.footer-list .footer-link:focus{
    background-color: var(--accent-color);
}

.footer-subscript{
    margin-left: 93px;
}
.title-subscript{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--white-color);
}

/* PORTFOLIO */

.portfolio-list{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.portfolio-list .item:not(:last-child){
    margin-right: 8px;
}

.subscript-form{
    display: flex;
    align-items: center;
}

.subscript-input{
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscript-input:focus-within {
    color: var(--white-color);
    outline: none;

}

.footer-btn{
    display: flex;
    align-items: center;
    padding-right: 28px;

}

.btn-icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


/*Дизайн кнопок на портфолио*/
.section .portfolio-button{
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;
    cursor: pointer;
    color:var(--title-text-color);
    background-color:var(--secondary-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic),
    box-shadow 250ms var(--transition-cubic);
}

.section .portfolio-button:hover,
.portfolio-button:focus{
    color: var(--white-color);
    background-color:var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    width: 370;
}

.portfolio .item:not(:nth-of-type(3n)){
    margin-right: 30px;
}
.portfolio .item:not(:nth-last-child(-n + 3)){
    margin-bottom: 30px;
}
  
.portfolio-item {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.portfolio-title{
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-link{
    display: inline-block;
    transition: box-shadow 250ms var(--transition-cubic);
}

.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-link:hover .text-thumb,
.portfolio-link:focus .text-thumb
{
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.portfolio-link .portfolio-thumb{
    position: relative;
    overflow: hidden;
    
}

.portfolio-link .text-thumb{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(100%);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms var(--transition-cubic);

}